<navbar inline-template>
    <nav class="navbar is-fixed-bottom has-background-white" role="navigation" aria-label="main navigation">
        <div class="container is-fluid">
            <div class="navbar-brand">
                <div class="navbar-item">
                <a href="{{ base_url == '' ? '/' : base_url }}">
                    {{ media['theme://images/rosetree.png'] }}
                </a>
                </div>
                <div class="navbar-start is-hidden-mobile">
                <div class="navbar-item">
                <p>Waco's Premier Florist<br />
                Weddings, Events and Flower Arrangements<br />
                254-754-5995</p>
                </div>
                </div>
                <div class="navbar-burger" :class="{'is-active': navIsActive}" @click.prevent="toggleNav()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="navbar-menu" :class="{'is-active': navIsActive}">
                {% block header_navigation %}
                    {% include 'partials/navigation.html.twig' %}
                {% endblock %}
            </div>
        </div>
    </nav>
</navbar>
