<div class="modular-row gallery-container {{ page.header.class }}">
	{{ unite_gallery(page.media.images, '{"gallery_theme":"slider", "gallery_width":"100%","slider_control_zoom":"true", "gallery_height":"500"}') }}
</div>