<footer class="foot">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h5 class="handwritten">Call Us</h5>
                <p>254-754-5995</p>
            </div>
            <div class="col text-center">
                <h5 class="handwritten">Mail Us</h5>
                <p>Rosetree Floral Design<br />PO Box 2006<br />Waco, TX 76703</p>
            </div>
            <div class="col text-center">
                <h5 class="handwritten">Get Social</h5>
                <a class="text-muted" href="https://www.instagram.com/rosetreewaco/"><i class="fa fa-instagram fa-3x"></i></a>
                <a class="text-muted" href="https://www.facebook.com/rosetreefloralwaco"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a class="text-muted" href="https://www.pinterest.com/rosetreewaco/"><i class="fa fa-pinterest-square fa-3x"></i></a>
                <a class="text-muted" href="https://twitter.com/rosetreewaco"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a class="text-muted" href="https://www.youtube.com/channel/UCk6kgCE1tZpKNKbuF5a2XNA"><i class="fa fa-youtube-square fa-3x"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-muted">
                COPYRIGHT ©2018 ROSETREE FLORAL DESIGN. ALL RIGHTS RESERVED.
                </p>
            </div>
        </div>
    </div>
</footer>
